---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Somos KD & NS - Trujillo</h1>
    <p class="instructions">
      Estamos actualizando nuestra página para que tenga una mejor experiencia. Disponible
      muy pronto!
    </p>
    <img src="" alt="" />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    color: #0b2344;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 2rem;
    text-align: justify;
    font-family: ;
    color: #0b2344;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
</style>
