---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Somos KD & NS - Trujillo</h1>
		<p class="instructions">
			Estamos actualizando nuestra página para que tenga una mejor experiencia. Disponible muy pronto!
		</p>
		<img src="https://cdn.fbsbx.com/v/t59.2708-21/332197340_155133600728452_35970084969449973_n.gif?_nc_cat=106&ccb=1-7&_nc_sid=041f46&_nc_eui2=AeGrU0ndgOPuZ80aJeTMdUYE3Uz3626jzF_dTPfrbqPMX_bxVLGciVnUD2ClEaJOqe1ugJf3ZYzgzxcL_7sr0lKz&_nc_ohc=V52AEVn_RggAX-TmQJZ&_nc_ht=cdn.fbsbx.com&oh=03_AdTecJMu52vcLOHGy6DTgmNWXZIvjMh2YZpb_8kKmZs7oQ&oe=640B60DD" alt="">
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;

	}
	h1 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
		color:#0B2344
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		font-size: 2rem;
		text-align: justify;
		font-family:;
		color: #0B2344
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}

</style>
