---
import Container from "../container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
const menuitems = [
  {
    title: "Servicios",
    path: "/",
    children: [
      { title: "Ingeniería Mecánica", path: "/#" },
      { title: "Ingeniería Eléctrica", path: "/#" },
      { title: "Informática", path: "/#" }
    ]
  },
  {
    title: "Nosotros",
    path: "/nosotros"
  },
  {
    title: "Proyectos",
    path: "/#"
  },
  {
    title: "Contáctanos",
    path: "/contacto"
  }
];
---

<Container class="bg-gray-800">
  <header class="flex flex-col items-center justify-between lg:flex-row">
    <Astronav>
      <div class="flex w-full items-center justify-between lg:w-auto">
        <a href="/">
          <img
            src="https://scontent.flim24-1.fna.fbcdn.net/v/t1.15752-9/333286269_1348623035708332_5825436852957220834_n.png?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeGfltAJZeJpt5nTcnHEX5oSXdTVbZQGT1Zd1NVtlAZPVs_nOPXRD7gLRqxBDokZ0ziuGlincr_fRGABY1IOI4XI&_nc_ohc=f7iCt_cOZSgAX99eMu1&_nc_ht=scontent.flim24-1.fna&oh=03_AdRMXLsIijNtHslT8UrDkurPydy24xoAD0BNpxXZcm8LnA&oe=6430C45E"
            alt="Inicio"
            width="40px"
            height="100px"
            class="mt-2 mb-2 mr-2"
          />
        </a>
        <a href="/" class="text-lg"
          ><span class="font-bold text-white">KDNS Trujillo</span>
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="h-4 w-4 text-white" />
        </div>
      </div>
      <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
        <ul class="flex flex-col text-lg lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <>
                {item.children && (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                )}
                {!item.children && (
                  <li>
                    <a
                      href={item.path}
                      class="flex py-2 text-lg text-slate-200	hover:text-orange-300 lg:px-3"
                    >
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
