---
import Navbar from "../components/navbar/Nav.astro";
import "@fontsource/inter/variable.css";
export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>KDNS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon3.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto:300,700"
      rel="stylesheet"
    />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
  </head>
  <body>
    <Navbar />
    <slot />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      body {
        background-color: #ff914d;
      }
    </style>
  </body>
</html>
